.tab-form-demo {
  border: 1px solid #ddd;
  padding: 10px 20px;
  height: 500px;
}

.tab-form-demo .nav.nav-tabs {
  margin-bottom: 20px;
}

.left_button {
  float: left;
}

.right_button {
  float: right;
}

.button_box {
  padding: 20px 15px 20px 0;
}

input.ng-invalid {
    background-color: pink;
}

.table tbody {
    cursor: pointer;
}
