<div class="container">
    <div class="row button_box">
        <button type="button"
                ng-hide="ctrl.index"
                class="btn btn-info left_button"
                ng-disabled="ctrl.isForm && !ctrl.index && !ctrl.isUpdate"
                ng-click="ctrl.showForm()">Add car</button>
                <!-- ng-disabled="(ctrl.isForm && ctrl.index)" -->
        <button type="button"
                class="btn btn-info right_button"
                ng-disabled="!ctrl.isForm"
                ng-click="ctrl.isForm = false">Close</button>
    </div>
    <div class="row">
        <div class="row"
              ng-class="(!ctrl.isForm) ? 'col-xs-12' : 'col-xs-12 col-md-9'">
            <div class="col-md-12" ng-show="ctrl.cars.length == 0">
                <h1>There are no cars!</h1>
            </div>
            <table class="table table-striped table-hover table-bordered"
                   ng-hide="ctrl.cars.length == 0">
                <thead>
                    <tr>
                        <th class="col-xs-2">#</th>
                        <th class="col-xs-2">Vehicle ID</th>
                        <th class="col-xs-2">Name</th>
                        <th class="col-xs-2">Model</th>
                        <th class="col-xs-2">Year</th>
                        <th class="col-xs-2">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in ctrl.cars"
                        ng-click="ctrl.changeCar(car, $index)">
                        <th class="col-xs-2">{{$index + 1}}</th>
                        <th class="col-xs-2">{{car.vehiclId}}</th>
                        <th class="col-xs-2">{{car.name}}</th>
                        <th class="col-xs-2">{{car.model}}</th>
                        <th class="col-xs-2">{{car.year}}</th>
                        <th class="col-xs-2">{{car.type}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-3"
             ng-show="ctrl.isForm">
            <form name="newCarForm" class="tab-form-demo">
                <uib-tabset active="activeForm">
                    <uib-tab index="0" heading="Form Tab">
                        <div class="form-group">
                            <label for="vehiclId">Vehicl ID</label>
                            <input type="number"
                                   name="vehiclId"
                                   ng-pattern="/^[0-9]{1,6}$/"
                                   class="form-control"
                                   id="vehiclId"
                                   placeholder="Enter vehicl ID"
                                   ng-model="ctrl.car.vehiclId"
                                   required>
                            <span ng-show="newCarForm.vehiclId.$error.required">The vehicl ID is required.</span>
                            <span ng-show="newCarForm.vehiclId.$error.pattern">Vehicl ID can't contain more than 6 digits!</span>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   id="name"
                                   ng-pattern="/^[\w]{3,20}$/"
                                   placeholder="Enter name"
                                   ng-model="ctrl.car.name"
                                   required>
                            <span ng-show="newCarForm.name.$error.required">The name is required.</span>
                            <span ng-show="newCarForm.name.$error.pattern">Field Name should contain one word with not more than 20 characters and not less then 3!</span>
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text"
                                   name="model"
                                   ng-pattern="/^[\w\s\d&$()#]{1,20}$/"
                                   class="form-control"
                                   id="model"
                                   placeholder="Enter model"
                                   ng-model="ctrl.car.model"
                                   required>
                            <span ng-show="newCarForm.model.$error.required">The model is required.</span>
                            <span ng-show="newCarForm.model.$error.pattern">Field Model can's exceed 20 characters and can't contain special characters except &#()#</span>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Tab One">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="number"
                                   name="year"
                                   class="form-control"
                                   id="year"
                                   placeholder="Enter year"
                                   ng-model="ctrl.car.year"
                                   ng-pattern="ctrl.yearRegEx"
                                   required>
                            <span ng-show="newCarForm.year.$error.required">The year is required.</span>
                            <span ng-show="newCarForm.year.$error.pattern">You can enter only from 1950 till the current year!</span>
                        </div>
                        <div class="form-group">
                            <label for="year">Type</label>
                            <select class="form-control"
                                    name="type"
                                    ng-model="ctrl.car.type"
                                    required>
                                <option value="Minivan">Minivan</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Bus">Bus</option>
                            </select>
                            <span ng-show="newCarForm.type.$touched && newCarForm.type.$invalid">The type is required.</span>
                        </div>
                        <button type="submit"
                                class="btn btn-success"
                                ng-hide="ctrl.index || ctrl.index == 0"
                                ng-click="ctrl.addCar()"
                                ng-disabled="newCarForm.name.$invalid || newCarForm.model.$invalid || newCarForm.type.$invalid || newCarForm.year.$invalid || newCarForm.car.$invalid">Success</button>
                        <button type="submit"
                                ng-show="ctrl.index || ctrl.index == 0"
                                class="btn btn-success"
                                ng-click="ctrl.updateCar()"
                                ng-disabled="newCarForm.name.$invalid || newCarForm.model.$invalid || newCarForm.type.$invalid || newCarForm.year.$invalid || newCarForm.vehiclId.$invalid">Update</button>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>
